<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">


<h1>Welcome to 

<%= link_to books_path do %>
  <i class="fa-solid fa-book" style="color: #0a0a0a;"></i>
<% end %>

Bookers!</h1>

    </div>
  </div>
</div>