<h1>HOME推したら来るとこ</h1>

<h1>welcome to 

<%= link_to books_path do %>
  <i class="fa-solid fa-book" style="color: #0a0a0a;"></i>
<% end %>

Bookers!!</h1>

<h4>In 

<%= link_to books_path do %>
  <i class="fa-solid fa-book" style="color: #0a0a0a;"></i>
<% end %>

Bookers,
<br>
<br>
    you can share and exchange your opinions, inpressions, and emotions
<br>
<br>
    about various books!
</h4>

<%= link_to"Log in", new_user_session_path %>
<br>
<%= link_to"Sign up", new_user_registration_path %>
 